/************Global**********************/
body
{
	background: url(img/cardboard_flat.png);
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	background-color: #242423;
	text-align: center;
}
h1{
	color:red;
	font-style: italic;
}
p{
	font-size: 1.1em;
}
/*************search form style **************/
.search_form{
	padding:10px;
}

.search input{
	width: 800px;
	padding:10px;
}

.search .submit_button{
	width:200px;
	padding:10px;
	background: silver;
}
.search .submit_button:hover{
	background: orange;
}
/*************DATA style **************/
.wrapper, #chart_table_wrapper, #chart_div_wrapper{
	position: relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
}
#chart_table_wrapper{
	padding: 20px 0;
}
.text-wrapper{
	width: 1000px;
	margin-right: auto;
	margin-left:auto;
}
table{
	width:1000px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
td{
	width: 33.33%;
	padding:10px;
}
tr:first-child{
	font-size:1em;
	font-weight: bold;
}
.highlight{
	background: silver;
}
.wrapper{
	background: white;
	width:1200px;
	text-align: center;
	border-radius: 10px;
	moz-border-radius:10px;
	margin-top:25px;	
	box-shadow: 2px 2px grey;
	moz-box-shadow: 2px 2px grey;
}
#important_info_wrapper{
	padding:20px;

}

/*******toggles*******/
.important_info, .chart_table, .chart_div, .examples{
	position: relative;
	top: -17px;
	font-size: 1.1em;
	background: orangered;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	border-radius: 10px;
}
#examples_wrapper{
	display: none;
}
.examples{
	margin-top:20px;
}